<div class="form-container">

  <h2>{{ contactId ? (isLoggedIn ? 'Edytuj kontakt' : 'Podgląd kontaktu') : 'Dodaj nowy kontakt' }}</h2>

  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="form.get('firstName')?.invalid">Imię jest wymagane</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="form.get('lastName')?.invalid">Nazwisko jest wymagane</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="form.get('email')?.invalid">Poprawny email jest wymagany</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="form.get('password')?.invalid">Hasło jest wymagane</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kategoria</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('categoryId')?.invalid">Kategoria jest wymagana</mat-error>
    </mat-form-field>

    <ng-container *ngIf="showSubcategories">
      <mat-form-field appearance="fill" *ngIf="subcategories.length > 0">
        <mat-label>Subkategoria</mat-label>
        <mat-select formControlName="subcategoryId">
          <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">
            {{ subcategory.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="fill" *ngIf="allowCustomSubcategory">
      <mat-label>Własna subkategoria</mat-label>
      <input matInput formControlName="otherSubcategory">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefon</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="form.get('phone')?.invalid">Telefon jest wymagany</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data urodzenia</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('birthDate')?.invalid">Data urodzenia jest wymagana</mat-error>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" type="submit"
              [disabled]="form.invalid || !isLoggedIn">
        Zapisz
      </button>
      <button mat-raised-button color="warn" type="button"
              (click)="delete()"
              *ngIf="contactId && isLoggedIn">
        Usuń
      </button>
      <button mat-button type="button" routerLink="/contacts">Anuluj</button>
    </div>
  </form>
</div>
