<div class="contacts-container">
  <div class="actions">
    <a
      *ngIf="isLoggedIn"
      mat-raised-button
      color="primary"
      [routerLink]="['/contacts/new']"
    >
      Dodaj nowy kontakt
    </a>

    <!-- Przełącznik logowania/wylogowania -->
    <ng-container *ngIf="isLoggedIn; else loginTpl">
      <a mat-raised-button color="warn" (click)="logout()">Wyloguj</a>
    </ng-container>
    <ng-template #loginTpl>
      <a mat-raised-button color="primary" (click)="login()">Zaloguj</a>
    </ng-template>
  </div>

  <ul class="contacts-list">
    <li *ngFor="let c of contacts">
      <a [routerLink]="['/contacts', c.id]" class="contact-item">
        <span class="contact-name">{{ c.firstName }} {{ c.lastName }}</span>
        <span class="contact-email">{{ c.email }}</span>
        <span class="contact-category">
          {{ c.categoryName }}
          <ng-container *ngIf="c.subcategoryName || c.otherSubcategory">
            / {{ c.subcategoryName || c.otherSubcategory }}
          </ng-container>
        </span>
      </a>
    </li>
  </ul>
</div>
